body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

textarea {
    -webkit-appearance: none;
    resize: vertical;
    border: none;
    color: #3d3d3d;
    font-size: 20px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #00B0FF;
}


input {
    border:none;
    outline: none;
    padding-top:12px;
    color: #646464;
    font-size: 18px;
    border-bottom: 1px solid #00B0FF;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    color: #00B0FF;
}


@media(min-width:768px) {

    a {
        transition: all .2s ease-in-out;
    }
    
    button:hover {
        cursor: pointer;
    }
}
li {
    margin-bottom: 20px;
    font-size: 30px;
}

@media(min-width: 768px) {
    li {
        margin-bottom:0;
        font-size: 25px;
    }
}


ul:last-child {
    margin-bottom: 0;
}

p {
    color: #757575;
    line-height:1.5;
    margin: 0;
    font-size: 25px;
}

img {
    width: 100%;
}


.container {
    max-width: 1300px;
    margin: 50px auto auto auto;
}

